extends ../partial/layout.pug

block vars
  - var date        = Date.now();
  - var bodyClass   = ''
  - var title       = 'title insert here'
  - var description = ''
  - var keywords    = ''
  - var url         = ''
  - var ogimage     = ''
  - var site_name   = ''
  - var style       = './css/style.css?version=' + date

block script
  script(charset="UTF-8" defer src='./js/vendor.bundle.js?version=' + date)
  script(charset='UTF-8' defer src='./js/index.bundle.js?version=' + date)


block contents
  main#main(role='main')
    section
      p.title Vivus
      .
        <svg id="my-svg" class="svg--mask" viewBox="0 0 196 49">
        <defs>
        <mask id="clipMask">
          <polyline class="svg--path st3" points="6.2,46.2 17.1,19 18.5,22.3 20.8,41.8 39.5,12 38.9,20.3 35.7,36.5 37.9,44.2 44.6,30.8 46,38.6
            51.7,42.1 56.8,39.5 63.5,33.6 65.2,26.3 85.9,24.5 72.4,29.1 87.1,33.5 72.1,40 95,26.5 96.1,36.2 94.6,16.1 115.1,23.5
            103.7,29.1 102,33.6 107,35.3 118.6,32.8 146.1,3 146.1,31.6 143.1,19 156,16.4 163.5,18.7 162.1,23.4 147.5,31.1 168.1,17.2
            169.8,24.6 175,26 187.8,17.8 181.5,34.2 177.9,47.9 	"/>
        </mask>
        </defs>
        <image xlink:href="./images/music-by.svg" width="100%" height="100%" mask="url(#clipMask)"></image>
        </svg>